
<!-- Footer -->
  <footer class="py-3 bg-light">
    <div class="container">
      <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
      <form method="post" action="/send">
        <h3 class="text-center my-3 dash-title">Contact</h3>
        <div class="form-row form-group">
          <div class="col">
            <input type="text" name="nom" class="form-control" placeholder="Nom">
          </div>
          <div class="col">
            <input type="text" name="email" class="form-control" placeholder="Email">
          </div>
        </div>
        <div class="form-row form-group">
          <input type="text" name="nom" class="form-control" placeholder="Sujet">
        </div>
        <div class="form-row form-group">
          <textarea type="text" name="nom" class="form-control">Message</textarea>
        </div>
        <button type="submit" class="btn btn-outline-primary"><i class="fa fa-envelope"></i> Envoyer</button>
      </form>
      </div>
      <div class = col-md-4></div>
      </div>
    </div>

    <!-- /.container -->
  </footer>
