<div class="modal fade" id="editCategorieModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modifier Categorie</h5>
      </div>
    <form action="" method="post">
      <div class="modal-body">
          <div class="form-group">
            <label for="categorie" class="col-form-label">Categorie</label>
            <input type="text" class="form-control" name="categorie" value="">
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <button type="submit" class="btn btn-primary"><i class="fa fa-edit"></i>Modifier</button>
      </div>
    </form>
    </div>
  </div>
</div>
