<% if (success_msg != '') { %>
    <div class="alert-box alert alert-success">
        <a href="#" class="close ml-3" data-dismiss="alert" aria-label="close">&times;</a>
        <strong><%= success_msg %></strong>
    </div>
<% } %>
<% if (error_msg != '') { %>
    <div class="alert-box alert alert-danger">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong><%= error_msg %></strong>
    </div>
<% } %>
<!-- Login Related Errors -->
<% if (error != '') { %>
    <div class="alert-box alert alert-danger">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong><%= error %></strong></div>
<% } %>
