<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light mb-3" id="mainNav">
  <div class="navbar-header d-flex col">
    <a class="navbar-brand js-scroll-trigger" href="/">
      <div class="nav-brand">
        <img height="50" class="d-inline-block align-top" alt="">
        <p class="nav-brand-text">Blog CMS</p>
      </div>
    </a>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-start" id="navbarSupportedContent">
    <ul class="nav navbar-nav mr-auto">
      <li class="nav-item <%=(title=='ADMIN') ? 'active' : ''%>">
        <a class="nav-link" href="/admin">Admin</a>
      </li>

      <li class="nav-item <%=(title=='ARTICLES') ? 'active' : ''%>">
        <a class="nav-link" href="/admin/articles">Articles</a>
      </li>
      <li class="nav-item <%=(title=='CATEGORIES') ? 'active' : ''%>">
        <a class="nav-link" href="/admin/categories">Categories</a>
      </li>

    </ul>

    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/"><i class="fa fa-home"></i> Acceuil</a>
      </li>
      <li class="ml-2 nav-item">
        <a class="btn btn-outline-danger text-center" href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
      </li>
    </ul>
  </div>
</nav>

<% include ../flash/msg %>